<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="copy" class="main-header">
    <nav class="navbar-header">
        <a href="/" class="navbar-brand"><img src="/static/img/logo2.png" alt=""></a>
        <form action="/">
            <input class="navbar-searchbar" type="text" id="search-input">
            <button class="button-search" type="submit"><i class='fa-solid fa-magnifying-glass'></i></button>
        </form>
        <div class="navbar-toolbox">
        <a href="/" class="nav-link">Regisztráció</a>
        <a href="/" class="nav-link">Bejelentkezés</a>
        <a href="/cart" class="nav-link">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="cart-qty">0</i>
            Kosár
        </a>
        </div>
    </nav>
    <nav class="navbar-filter">
        <ul>
            <li class="filter-menu"><a href="/">Minden Kategória</a>
            <ul class="filter-submenu">
                <li th:each="cat : ${category}" >
                    <a class="filter-category"  th:text="${cat.name}" th:attr="data-api=${cat.id}" />
                </li>
            </ul>
            </li>
        </ul>

        <ul>
            <li class="filter-menu"><a href="/">Minden Márka</a>
                <ul class="filter-submenu">
                <li  th:each="supplier : ${supplier}" th:value="${supplier.id}">
                    <a class="filter-supplier" th:text="${supplier.name}" th:attr="data-api=${supplier.id}"/>
                </li>
                </ul>
        </ul>
    </nav>
</div>
</body>
</html>