body {
    padding-bottom: 20px;
    font-family: 'Lucida Grande', monospace;
    font-size: 15px;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0;
}

.item.list-group-item .caption {
    padding: 9px 9px 0 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

a:hover {
    text-decoration: none;
}

.filter-submenu li:hover {
    cursor: pointer;
    background-color: lightblue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-filter {
    padding: 1em 2em;
}

.filter-menu {
    position: relative;
    padding: 0 1em;
}

.filter-submenu li {
    white-space: nowrap;
}

.filter-submenu {
    position: absolute;
    z-index: -1;
    background-color: white;
    visibility: hidden;
    padding: 0 1em;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0%);
    box-shadow: 3px 3px 5px lightblue, -1px 0 5px lightblue;
}

.filter-menu:hover .filter-submenu {
    visibility: visible;
    transform: scaleY(100%);
    transition: all 0.5s;
    opacity: 1;
    z-index: 10;
}

.navbar-header {
    justify-content: space-between;
}

.navbar-searchbar {
    border-radius: 1em;
    border: solid 1px;
    padding: 0 1em;
}

.button-search {
    all: unset;
    transform: translateX(-200%);
}

.button-search:focus {
    outline: none;
}

.navbar-toolbox {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0.5em;
    width: 80%;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
    text-align: center;
    align-content: center;
}

.card-header {
    background-color: #dce9ef;
    width: 100%;
    height: 180px;
}

.card-title {
    width: 100%;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.image-container {
    width: 100%;
    height: 300px;
    align-content: center;
}

.prod-image {
    width: 100%;
    max-height: 300px;
}

.card-body {
    width: 100%;
}

.filter-category:hover {
    color: midnightblue;
}

.filter-name {
    font-size: 20px;
}


#footer {
    text-align: center;
    align-content: center;
}


.description {
    width: 100%;
    height: 80px;
    overflow: auto;}

.description::-webkit-scrollbar {
    width: 5px;
}

.description::-webkit-scrollbar-track {
    background: #dce9ef;
}

.description::-webkit-scrollbar-thumb {
    background: #428bca;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: lightblue;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #428bca;
}

.add-to-cart {
    border-color: navy !important;
    outline: navy !important;
    background-color: #428bca;
}

.add-to-cart:hover {
    background: lightblue !important;
    border-color: navy !important;
    outline: none !important;
}

.btn-success {
    border-color: navy !important;
    outline: navy !important;
    background-color: #428bca;
}

.btn-success:hover {
    background: lightblue !important;
    border-color: navy !important;
    outline: none !important;
}

.card-text {
    text-align: center;
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 30px;
    background-color: white;
}

.cart-container {
    text-align: center;
    align-content: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:hover {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


th {
    background-color: #4cb7d9;
    color: white;
}

.quantity {
    background: transparent;
    border: none;
    width: 30%;
}
