@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.container {
    background-color: #dce9ef;
    padding: 30px 20px 30px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    align-content: center;
    text-align: center;
}

#main-title {
    padding: 15px;
}